In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({'time': ['hr=01,rush=no', 'hr=02,rush=yes']})
df

             time
0   hr=01,rush=no
1  hr=02,rush=yes

In [4]:
r = r'\w+=(\d\d),\w+=(.*)$'

In [5]:
df['time'].str.extract(r)

    0    1
0  01   no
1  02  yes